@model IEnumerable<BirthdayApp2.Models.DavetiyeModel>

@if (Model.Count() == 0)
{
    <label class="label label-danger">
        Arama Sonucu Kayıt Bulunamadı.
    </label>
}
else
{
    <p>

        @foreach (var i in Model)
        {
            <label class="label label-success">@i.Ad</label>
        }
    </p>

}



